<%-include("../partials/header")  %> 
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="/stylesheets/new.css" />

<%-include("../partials/nav")  %> 
<main>
  
  <div class = "flex-wrap">
    <h1 class = "title">Add a New Flight</h1>
    
  <form action="/flights" method="POST">

    <label>Airline:
      <input type="text" name="airline" placeholder="American, Southwest, United" >
    </label><br>

    <label>Airport:
      <input type="text" name="airport" placeholder="AUS, DFW, DEN, LAX, SAN">
    </label><br>

    <label>Flight Number:
      <input type="number" name="flightNo" placeholder="Min-10 Max-9999">
    </label><br>

    <label>Departs:
      <input type="date" name="departs">
    </label><br>

    <button type="submit" class="btn">Add Flight</button>
  </form>
  </div>
</main>

<%- include('../partials/footer') %>